:root {
  --main-color: #0e2833;
  --nav-color: #0e2833be;
  --font-color: #d9e2e6;
  --jet: #343434;
  --cyan: #3CB3E4;
  --black: #030303;
  --grey: #919191;

}

.Vermin-Vibes {
  font-family: "Vermin Vibes";
  
}

.fs-10 {
  font-size: 7vh;
  text-shadow: 5px 8px 7px var(--cyan);
}

body {
  font-family: 'Rajdhani', sans-serif;
  scroll-behavior: smooth;
  background-color: var(--main-color);
  color: var(--font-color);
}

.login-signup-image {
  background-image: url("./background.jpg");
  background-size:cover;
}

.no-link {
  text-decoration: none;
  color: var(--font-color);
}

.no-link:hover {
  color: var(--font-color);
}

.noButton {
  outline: none;
  border: none;
  background: none;
  padding: 0px;
}

.button {
  padding: 3px 10px;
  border-radius: 5px;
  border: 3px solid var(--cyan);
  box-shadow: 0px 0px 10px var(--cyan);
  outline: none;
  background-color: var(--main-color);
  color: var(--font-color);
}

.button:hover {
  box-shadow: 1px 1px 5px var(--jet);
}

.button:active {
  outline: none;
  box-shadow: none;
}

input, textarea, select{
  outline: none;
  border-radius: 5px;
  border: 3px solid var(--cyan);
  background-color: var(--main-color);
  color: var(--font-color);
  box-shadow: 1px 1px 20px var(--cyan);
}

input:focus, textarea:focus, select:focus {
  box-shadow: 1px 1px 10px var(--cyan);
}

input:invalid:focus, textarea:invalid:focus, select:invalid:focus {
  border: 3px solid #ee0a69;
  box-shadow: 1px 1px 20px #ee0a69;
}

.text-link {
  color: var(--font-color);
}

.text-link:hover {
  text-decoration: none;
  color: var(--cyan);
}

/* Login / Signup Styles */

.loginDiv {
  box-shadow: 1px 0px 30px var(--cyan);
  border: 5px solid var(--cyan);
  border-radius: 10px;
  background-color: var(--nav-color);
}

.loginDiv input {
  width: 100%;
}

/* Navbar styles */

.nav-bar {
  box-shadow: 1px 0px 30px var(--cyan);
  border-bottom: 2px double var(--cyan);
  background-color: var(--nav-color);
}


/* --------------------------------------- */
/* ----- Media Queries ----- */
/* --------------------------------------- */

@media screen and (max-width: 1200px) { /* xl */

}

@media screen and (max-width: 992px) { /* lg */

}

@media screen and (max-width: 768px) { /* md */

}

@media screen and (max-width: 576px) { /* sm */

}

@media screen and (min-width: 1400px) { /* xxl */

}

/* ----- End Media Queries ----- */